.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.App {
	padding-left: 3vw;
}

.home {
	height: 100vh;
}

.password {
	height: 100vh;
	width: 40vw;
	margin-left: 20vw;
}

.marvel {
	padding-bottom: 12vh;
}